.wrapper {
  height: 115vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  .title {
    width: 100%;
    padding: 20vh 0 10vh 0;
    h1,
    p {
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
    h1 {
      font-size: 2rem;
    }
    p {
      padding-top: 2.5vh;
      font-size: 0.7rem;
    }
  }
  .btnWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5vh 0 5vh 0;
  }
  .cardContainer {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20vh;
  }
}
