.wrapper {
    padding: 2vh 2.5vw 2vh 2.5vw;
    border: none;
    background: var(--deep-purple);
    color: var(--text-color);
    border-radius: 15px;
    background: linear-gradient(145deg, #603b96, #51327e);
    -webkit-box-shadow: 5px 5px 0px 0px var(--pink); 
    box-shadow: 5px 5px 0px 0px var(--pink); 
    
    // border: 4px solid #f2f2f2;
    // -webkit-box-shadow: 10px 10px 0px 0px var(--pink); 
    // box-shadow: 10px 10px 0px 0px var(--pink);
    cursor: pointer;
    transition: all ease .5s;
    &:hover {
        
        box-shadow: 10px 10px 5px var(--pink);
    }
}