.wrapper {
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .card_wrapper{
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5vh;
        row-gap: 5vh;
        padding: 0 0 10vh 0;
        
    }
}