.wrapper {
    
    .title {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate3d(0, -50%, 0);
width: 40%;
        h1 {
            padding-top: 5vh;
            font-size: 3rem;
        }
        span {
            div {
                width: 10vw;
                text-transform: uppercase;text-align: center;
                font-weight: 900;
                padding: 1vw 1vh 1vw 1vh;
                border-radius: 10px;
            }
        }
    }
}